#chat-container {
    padding: 4px;
    position: relative;
    min-width: 320px;
    margin-left: -165px;
    background-image: url("./../assets/ui/greyBackground.png");
    background-size: cover;
}

#chat {
    overflow-y: auto;
    /* Allow vertical scrolling if messages exceed container height */
}

#chat-message {
    border: none;
    border-radius: 5px;
    height: 1.5rem;
    outline: none;
    font-family: font-page;
}

#chat-message:focus {
    box-shadow: none;
}

.btn-send {
    background-color: transparent;
    border: 1px solid goldenrod !important;
    color: goldenrod;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-send:hover {
    transition: ease-in-out 0.3s;
    color: black;
    background-color: goldenrod;
}

.btn-send:active {
    background-color: gold;
    transform: translateY(1px);
}

#chat-all-messages {
    padding: 0;
    padding-left: 0.2rem;
    color: whitesmoke;
    font-size: 0.9rem;
    font-family: font-page;
    list-style: none;
}

#chat-all-messages li {
    display: block;
    border-bottom: 0.25px dashed grey;
}

#chat-all-messages li span {
    color: white;
    font-weight: bold;
}