*{
	box-sizing: border-box;
}

body{
	overflow: hidden;  
}

#font{
	font-family: font_form;
}

.game-container{
	position: relative;
	width: 964px;
	height: 644px;
	margin: 0 auto;
	transform: scale(1) translateY(0%);
	margin-left: 10%;
	background-image: url("./../assets/ui/greyBackground.png");
	background-size: cover;
}

.game-container canvas{
	image-rendering: pixelated;
}	

#equipment-container{
	position: relative;
	display: block;
	flex-direction: column;
	width: 300px;
	height: 644px;
	margin: 0 auto;
	margin-left: 4px;
	background-image: url("./../assets/ui/greyBackground.png");
	color: goldenrod;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	z-index: 1;
}

 /* #equipment-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(41, 85, 78, 0.452); 
  }  */

.container{
	display: flex;
}

#status{
	margin-left: 20px;
	display: flex;
	width: 300px;
	height: 130px;
	z-index: 1;
}

#used{
	width: 300px;
	display: flex;
	z-index: 1;
}

#backpack, #shop{
	margin-left: 17px;
	width: 300px;
	display: flex;
	flex-wrap: wrap;
    gap: 4px;
	z-index: 1;
}

.bp-slot, .eq-slot, .shop-slot{
	position: relative;
    overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	width: 48px;
	height: 48px;
	background-size: contain;
    background-repeat: no-repeat;
	background-image: url("./../assets/ui/box/boxNormal.png");
}

.eq-slot::before{
	background-color: rgba(0,0,0,0.25);
}

.bp-slot:hover, .eq-slot:hover, .shop-slot:hover{
	background-image: url("./../assets/ui/box/boxHover.png");
}

.bp-slot:active, .eq-slot:active, .shop-slot:active{
	background-image: url("./../assets/ui/box/boxSelect.png");
}

.item-image{
	position: relative;
	background-size: contain;
    background-repeat: no-repeat;
	position: absolute;
    top: 7px;
    left: 7px; 
    width: 70%;
    height: 70%;
	background-image: url("");
	z-index: 5;

	cursor: grab;
}


/*eq slot styles*/
#dbHelmet .item-image{
	background-image: url("./../assets/ui/eq/helmet.png");
}

#dbRing .item-image{
	background-image: url("./../assets/ui/eq/ring.png");
}

#dbNecklace .item-image{
	background-image: url("./../assets/ui/eq/necklace.png");
}

#dbGloves .item-image{
	background-image: url("./../assets/ui/eq/gloves.png");
}

#dbWeapon .item-image{
	background-image: url("./../assets/ui/eq/primary.png");
}

#dbArmor .item-image{
	background-image: url("./../assets/ui/eq/armor.png");
}

#dbSecondaryWeapon .item-image{
	background-image: url("./../assets/ui/eq/secondary.png");
}

#dbBoots .item-image{
	background-image: url("./../assets/ui/eq/boots.png");
}

.item-opacity{
	opacity: 40%;
	cursor: default;
}

/*stats styles*/
.stat-icon{
	position: relative;
    overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	width: 32px;
	height: 32px;
	background-size: contain;
    background-repeat: no-repeat;
}
#dmg{
	background-image: url("./../assets/ui/eq/Dmg.png");
}

#m-dmg{
	background-image: url("./../assets/ui/eq/MagicDmg.png");
}

#def{
	background-image: url("./../assets/ui/eq/defence.png");
}

#m-def{
	background-image: url("./../assets/ui/eq/MagicDefence.png");
}

#health{
	background-image: url("./../assets/ui/eq/health.png");
}

#mana{
	background-image: url("./../assets/ui/eq/mana.png");
}

#agility{
	background-image: url("./../assets/ui/eq/agility.png");
}

#gold{
	background-image: url("./../assets/ui/eq/gold.png");
}

#stamina{
	background-image: url("./../assets/ui/eq/stamina.png");
}

.dragging {
    opacity: 0.5; 
	z-index: 10;
	cursor: grabbing;
}
