@font-face {
    font-family: font_page;
    src: url("./../font/page.ttf");
}

@font-face {
    font-family: font_logo;
    src: url("./../font/logo.ttf");
}

@font-face {
    font-family: font_form;
    src: url("./../font/form.ttf");
}

@font-face {
    font-family: font_anchor;
    src: url("./../font/anchor.ttf");
}

:root {
    --wooden: 156, 102, 68;
    --dark-wooden: 127, 85, 67;
}

::-webkit-scrollbar {
    width: 7px;
    background: rgb(var(--dark-wooden));
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(var(--bs-dark-rgb));
    background: rgb(var(--dark-wooden));
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgb(var(--bs-dark-rgb));
    background: rgb(var(--wooden));
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid whitesmoke;
}

body,
html {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./../img/background.jpg");
    font-family: font_page;
    font-size: 20px;
    color: black;
}

header {
    font-family: font_logo;
}

footer {
    font-family: font_logo;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 100%;
}

form {
    font-family: font_form;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

input[type]:focus {
    box-shadow: none;
    outline: 1px solid whitesmoke;
}

a,
a:focus,
a:active {
    font-family: font_anchor;
    text-decoration: none;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

a:hover {
    text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
}

.btn:focus,
.btn-close:focus {
    box-shadow: none;
}

.text-justify {
    text-align: justify;
}

.bg-wooden {
    background-color: rgb(var(--wooden));
    background-image: url("./../img/background_wood_light.png");
}

.bg-darkwooden {
    background-color: rgb(var(--dark-wooden));
    background-image: url("./../img/background_wood_dark.png");
}

.header-big {
    font-size: 100px;
    text-shadow: -3px 0 whitesmoke, 0 3px whitesmoke, 3px 0 whitesmoke, 0 -3px whitesmoke;
}

.header-small {
    margin-top: -2rem;
    font-size: 75px;
    text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;
}

.btn-darkwooden {
    background-color: rgb(var(--dark-wooden));
    border-color: rgb(var(--bs-dark-rgb));
}

.btn-darkwooden:hover {
    color: whitesmoke;
    border-color: whitesmoke;
}

.text-small {
    font-size: 0.855rem;
}

.font-shadow {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#alert-success {
    text-shadow: -1px 0 lightgreen, 0 1px lightgreen, 1px 0 lightgreen, 0 -1px lightgreen;
}

#alert-error {
    text-shadow: -1px 0 lightcoral, 0 1px lightcoral, 1px 0 lightcoral, 0 -1px lightcoral;
}