 .tradeBox {
    border-radius: 5px;
    border: solid goldenrod 2px;
    color: goldenrod;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31%;
    height: 65%;
    transform: translate(-50%, -50%);
    background-image: url("./../assets/ui/greyBackground.png");
    /* Add other styles as needed */
} 

#tradeBox-close {
    border-radius: 5px;
    color: inherit;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    background-color: #303030;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
