@font-face {
    font-family: font_page;
    src: url("./../font/page.ttf");
}

@font-face {
    font-family: font_logo;
    src: url("./../font/logo.ttf");
}

@font-face {
    font-family: font_form;
    src: url("./../font/form.ttf");
}

@font-face {
    font-family: font_anchor;
    src: url("./../font/anchor.ttf");
}

* {
    cursor: url("./../assets/ui/cursorSmall.png"), auto;
}

:root {
    --wooden: 156, 102, 68;
    --dark-wooden: 127, 85, 67;
}

::-webkit-scrollbar {
    width: 7px;
    background: rgb(var(--dark-wooden));
}

::-webkit-scrollbar-track {
    border: 1px solid rgb(var(--bs-dark-rgb));
    background: rgb(var(--dark-wooden));
}

::-webkit-scrollbar-thumb {
    border: 1px solid rgb(var(--bs-dark-rgb));
    background: rgb(var(--wooden));
}

::-webkit-scrollbar-thumb:hover {
    border: 1px solid whitesmoke;
}

body,
html {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./../img/background.jpg");
    font-family: font_page;
    font-size: 20px;
    color: black;
}

header {
    font-family: font_logo;
}

footer {
    font-family: font_logo;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 100%;
}

form {
    font-family: font_form;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

input {
    cursor: inherit;
}

input[type]:focus {
    box-shadow: none;
    outline: 1px solid whitesmoke;
}

button {
    cursor: url("./../assets/ui/pointerSmall.png"), auto !important;
}

button i {
    cursor: inherit;
}

a,
a:focus,
a:active {
    font-family: font_anchor;
    text-decoration: none;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

a:hover {
    text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
}

.btn:focus,
.btn-close:focus {
    box-shadow: none;
}

.text-justify {
    text-align: justify;
}

.bg-wooden {
    background-color: rgb(var(--wooden));
    background-image: url("./../img/background_wood_light.png");
}

.bg-darkwooden {
    background-color: rgb(var(--dark-wooden));
    background-image: url("./../img/background_wood_dark.png");
}

.header-big {
    font-size: 100px;
    text-shadow: -3px 0 whitesmoke, 0 3px whitesmoke, 3px 0 whitesmoke, 0 -3px whitesmoke;
}

.header-small {
    margin-top: -2rem;
    font-size: 75px;
    text-shadow: -2px 0 whitesmoke, 0 2px whitesmoke, 2px 0 whitesmoke, 0 -2px whitesmoke;
}

.btn-darkwooden {
    background-color: rgb(var(--dark-wooden));
    border-color: rgb(var(--bs-dark-rgb));
}

.btn-darkwooden:hover {
    color: whitesmoke;
    border-color: whitesmoke;
}

.text-small {
    font-size: 0.855rem;
}

.font-shadow {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.volume-control {
    display: flex;
    align-items: center;
    font-size: 2px;
}

.mute-button {
    font-family: font_form;
    font-size: 0.8rem;
    background-color: rgb(var(--wooden));
    background-image: url("./../img/background_wood_dark.png");
    color: black;
    padding: 0;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    width: 2rem;
    height: 2rem;
}

.mute-button:hover {
    font-family: font_form;
    background-color: rgb(var(--dark-wooden));
    background-image: url("./../img/background_wood_dark.png");
    background-color: #643b09;
}

#alert-success {
    text-shadow: -1px 0 lightgreen, 0 1px lightgreen, 1px 0 lightgreen, 0 -1px lightgreen;
}

#alert-error {
    text-shadow: -1px 0 lightcoral, 0 1px lightcoral, 1px 0 lightcoral, 0 -1px lightcoral;
}

#leave-button {
    /* Your existing styles for button */
    position: absolute;
    top: 0;
    left: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: solid black 2px;
    background-image: url("./../img/background_wood_dark.png"), none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* Adjust font size as needed */
}

#leave-button:hover {
    background-color: #643b09;
}

#leave-button .fas {
    color: black;
    /* Change icon color */
}

#leave-button:hover {
    background-color: #643b09;
}

#logout-button {
    /* Your existing styles for button */
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: solid black 2px;
    background-image: url("./../img/background_wood_dark.png"), none;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* Adjust font size as needed */
}

#logout-button:hover {
    background-color: #643b09;
}

#logout-button .fas {
    color: black;
    /* Change icon color */
}

#logout-button:hover {
    background-color: #643b09;
}